snippet tg "Tag" b
<$1>
    $0
</$1>
endsnippet

snippet u "Unordered List" b
<ul>
    $0
</ul>
endsnippet

snippet l "List item" b
<li>$0</li>
endsnippet

snippet o "Ordered List" b
<ol>
    <$0>
</ul>
endsnippet

snippet h "Heading" b
<h$1>$0</h$1>
endsnippet

snippet lb "Line Break" b
<br/>$0
endsnippet
