window {
    font-size: 15px;
    font-family: "Intone Mono Nerd Font";
    background-color: #1f2335;
    opacity: 0.75;
    border-radius: 10px;
}

#entry{
    margin: 5px 5px;
    padding-left: 30px;
    border-radius: 10px;
}

#entry:selected {
    /* background-color: rgba(187,204,221,0.5); */
    background: linear-gradient(45deg, rgba(91,206,250,1.0) 0%, rgba(245,169,184,1.0) 60%);
    color: #b4f9f8;
    border-radius: 10px;
}

#expander-box {
    border-radius: 10px;
}

#text:selected {
    color: #333333;
}

#text {
    color: #b4f9f8;
}

#input{
    background: #1f2335;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: none; 
    border: none;
    border-radius: 10px;
}

#input:focus{
    color: rgb(200,200,200);
}

#img{
    padding-right:10px;
}

#outer-box{
    box-shadow: none;
    padding-bottom: 15px;
    padding: 15px;
    transition: 0.5s ease-in-out;
}
